@import '../../../sass/index.scss';

.VerticalCard {
  display: inline-block;
  background-color: #252836;
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
    .VerticalCard__info {
      .flex-wrap {
        .VerticalCard__iconswrapper {
          opacity: 1;
        }
      }
    }
  }
  &__imgwrapper {
    width: 15rem;
    height: 10rem;
    background-image: url('../../../assets/images/loading.png');
    background-repeat: no-repeat;
    background-size: cover;

    .VerticalCard__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 1rem;
    padding-top: 0.5rem;
    .VerticalCard__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .text-rg {
        color: #b7b9d2;
        font-size: 0.75rem;
      }
      .VerticalCard__creator {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: fit-content;
        border-width: 0.1rem;
        border-color: white;
        border-radius: 50%;
        border-style: dashed;
        padding: 0.45rem;
        position: absolute;
        top: -3rem;
        right: 0;

        .VerticalCard__avatarwrapper {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          background-image: url('../../../assets/images/creatorSample.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          overflow: hidden;

          .avatar-large {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .VerticalCard__title {
      font-size: 1rem;
      font-weight: bold;
      color: white;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 1.25rem;
    }

    .flex-wrap {
      align-items: flex-end;
      position: relative;
      .VerticalCard__views {
        color: #b7b9d2;
        font-size: 0.75rem;
      }

      .VerticalCard__iconswrapper {
        display: flex;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        .VerticalCard__icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 0.5rem;
          i {
            font-size: 1rem;
            margin-bottom: 0.25rem;
          }

          p {
            font-size: 0.5rem;
            color: #b7b9d2;
          }
        }
      }
    }
  }

  &__durationWrapper {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.15rem 0.35rem;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    .VerticalCard__duration {
      font-size: 0.75rem;
      color: white;
    }
  }
}
