@import '../../sass/index.scss';

.navbar {
  position: sticky !important;
  padding: $paddingV $paddingH !important;
  top: 0;
  right: 0;
  left: 0;
  transition: background-color 0.3s ease-in-out;
  z-index: var(--zindex-2);

  .elogo {
    max-width: 7rem;
    max-height: 7rem;
    cursor: pointer;
  }

  .elogo--small {
    max-width: 5rem;
    max-height: 5rem;
  }

  .nav-links {
    width: 20%;
    gap: 1rem;
    transition: background-color 0.3s ease-in-out;

    @include respond(tab-port) {
      width: 25%;
    }

    @include respond(phone) {
      width: 100%;
    }

    .nav-link {
      white-space: nowrap;
    }
  }

  /* ---searchbar--- */

  .navbar__searchwrapper {
    width: 40%;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    position: absolute;
    top: 2.75vh;
    left: 16.45rem;
    //transform: translateX(-6rem);

    .navbar__searchbar {
      width: 100%;
      padding: 0.4rem 0.5rem;
      padding-right: 2.5rem;
      border: 1px solid $inactiveColor;
      border-radius: 0.75rem;
      background-color: $inactiveBackgroundColor;
      color: var(--text-color);
      font-size: 1rem;
      outline: none;
    }

    .navbar__searchicon {
      position: absolute;
      right: 1rem;
      font-size: 1rem;
      color: $inactiveColor;
    }
  }
}

.navbar--transparent {
  background-color: transparent !important;
  .nav-links {
    background-color: $backgroundColor;
  }
}

.navbar--secondary {
  background-color: $secondaryColor !important;
  .nav-links {
    background-color: $secondaryColor;
  }
}
