@import '../../sass/index.scss';

.explore {
  @include respond(phone) {
    margin-bottom: 5rem;
  }
  &__container {
    display: flex;

    .explore__content {
      padding: 1rem $paddingH;
      padding-left: 6.5rem;
      padding-bottom: 0;
      height: 100%;
      width: 100%;

      @include respond(phone) {
        padding-left: $paddingH;
      }

      .explore__chips {
        width: 100%;
        display: flex;
        margin-top: 0.5rem;

        .explore__chip {
          margin-right: 1rem;
          margin-bottom: 0.5rem;
          background-color: $lightGray;
          border: 1px solid $inactiveColor;
          border-radius: 1.5rem;
          padding: 0.35rem 1rem;
          font-size: 0.8rem;
          color: white;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #e0e0e0;
            color: black;
          }
        }

        .explore__chip--active {
          background-color: #fafafa;
          color: black;
        }
      }

      .explore__videos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 2rem 1.5rem;
        padding-bottom: 5rem;
        margin: 1rem 0;
      }
    }
  }
}
