@import '../../sass/index.scss';

.video {
  @include respond(phone) {
    margin-bottom: 5rem;
  }

  &__wrapper {
    display: flex;
    .video__content {
      padding-right: $paddingH;
      padding-left: 6.5rem;
      min-height: 70vh;
      flex-grow: 1;

      @include respond(phone) {
        padding-left: $paddingH;
      }

      .video__creator {
        color: #b7b9d2;
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }

      .video__player {
        width: 90%;
        height: 60vh;
        border-color: #b7b9d2;
        border-width: 1px;
        border-style: solid;
        border-radius: 0.5rem;

        @include respond(phone) {
          width: 100%;
          height: 40vh;
        }
      }
      .VerticalCard__iconswrapper {
        display: flex;
        margin-top: 1rem;

        .VerticalCard__icon {
          display: flex;
          align-items: center;
          padding: 0.5rem 0;
          margin-right: 1rem;
          cursor: pointer;

          i {
            font-size: 1.25rem;
            margin-right: 0.25rem;
          }
          p {
            font-size: 1rem;
            color: #b7b9d2;
          }
        }
      }

      .video__description {
        margin-top: 0.5rem;
        margin-bottom: 5rem;
      }
    }
    .video__suggestion {
      flex-basis: 19rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      grid-gap: 2rem 1.5rem;
      padding: 1rem $paddingH;
      padding-bottom: 5rem;

      @include respond(tab-land) {
        display: none;
      }

      @include respond(phone) {
        display: grid;
      }
    }

    @include respond(phone) {
      padding-left: 0;
      flex-direction: column;
    }
  }
}
